<div class="additional-options">
	<section>
		<div class="column1">
			<div class="column-inner">
				<div class="form-row">
					<label for="Seo_url">Url</label>
                    <div class="input-holder">
                        <input size="60" maxlength="255" name="Seo[url]" id="Seo_url" type="text" value="" />
                        <div class="errorMessage" id="Seo_url_em_" style="display:none"></div>
                    </div>
				</div>
				<div class="form-row">
					<label for="Menus_menu_text">Menu Text</label>
                    <div class="input-holder">
                        <input size="60" maxlength="255" name="Menus[menu_text]" id="Menus_menu_text" type="text" value="" />
                        <div class="errorMessage" id="Menus_menu_text_em_" style="display:none"></div>
                    </div>
                </div>
			</div>
		</div>
		<div class="column2">
			<div class="column-inner">
				<div class="form-row">
					<label for="Seo_title">Title</label>
                    <div class="input-holder">
                        <input size="60" maxlength="255" name="Seo[title]" id="Seo_title" type="text" value="" />
                        <div class="errorMessage" id="Seo_title_em_" style="display:none"></div>
                    </div>
				</div>
				<div class="form-row">
					<label for="Seo_meta_keywords">Meta Keywords</label>
                    <div class="input-holder">
						<input size="60" maxlength="255" name="Seo[meta_keywords]" id="Seo_meta_keywords" type="text" value="" />
                        <div class="errorMessage" id="Seo_meta_keywords_em_" style="display:none"></div>
                    </div>
				</div>
				<div class="form-row">
					<label for="Seo_meta_description">Meta Description</label>
                    <div class="input-holder">
						<input rows="6" cols="50" name="Seo[meta_description]" id="Seo_meta_description" type="text" value="" />
                        <div class="errorMessage" id="Seo_meta_description_em_" style="display:none"></div>
                    </div>
				</div>
			</div>
		</div>
	</section>
</div>