<!doctype html>
<html lang="en" class="no-js">
<head>
    <title>Backend area | </title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/themes/admin/favicon.ico" type="image/x-icon">

{{#link [
    "/assets/themes/admin/css/ui-lightness/jquery-ui-1.8.13.custom.css",
    "/assets/themes/admin/css/jquery.fancybox-1.3.4.css",
    "/assets/themes/admin/css/style.css?v=2",
    "/assets/themes/admin/css/jquery.treeview.css",
    "/assets/themes/admin/css/buttons.css?v=2",
    "/assets/themes/admin/components/AttentionBox/css/attention_box.css"
]}}{{/link~}}
{{!    "/assets/themes/admin/js/jquery-ui-1.8.13.custom.min.js", }}
{{#script [
    "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js",
    "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js",
    "/assets/themes/admin/js/libs/modernizr-1.7.min.js",

    "/assets/themes/admin/js/jquery.jtabs.js",
    "/assets/themes/admin/js/jquery.treeview.js",
    "/assets/themes/admin/js/jquery.fancybox-1.3.4.pack.js",
    "/assets/themes/admin/js/plugins.js",
    "/assets/themes/admin/js/jquery.ui.nestedSortable.js",
    "/assets/themes/admin/js/script.js",
    "/assets/themes/admin/components/AttentionBox/js/attention_box-min.js"
]}}{{/script~}}
</head>